<div id="<%= dom_id bdsensor %>">
  <p>
    <strong>Nome sensor:</strong>
    <%= bdsensor.nome_sensor %>
  </p>

  <p>
    <strong>Time read:</strong>
    <%= bdsensor.time_read %>
  </p>

  <p>
    <strong>Li:</strong>
    <%= bdsensor.LI %>
  </p>

  <p>
    <strong>Ls:</strong>
    <%= bdsensor.LS %>
  </p>

  <p>
    <strong>Arg1:</strong>
    <%= bdsensor.arg1 %>
  </p>

  <p>
    <strong>Arg2:</strong>
    <%= bdsensor.arg2 %>
  </p>

  <p>
    <strong>Arg3:</strong>
    <%= bdsensor.arg3 %>
  </p>

  <p>
    <strong>Arg4:</strong>
    <%= bdsensor.arg4 %>
  </p>

  <p>
    <strong>Arg5:</strong>
    <%= bdsensor.arg5 %>
  </p>

  <p>
    <strong>Flag notificacao:</strong>
    <%= bdsensor.flag_notificacao %>
  </p>

  <p>
    <strong>Flag rearme:</strong>
    <%= bdsensor.flag_rearme %>
  </p>

  <p>
    <strong>Flag mantec:</strong>
    <%= bdsensor.flag_mantec %>
  </p>

  <p>
    <strong>Ativo inativo:</strong>
    <%= bdsensor.ativo_inativo %>
  </p>

  <p>
    <strong>Bdtipo:</strong>
    <%= bdsensor.bdtipo_id %>
  </p>

  <p>
    <strong>Bdcliente:</strong>
    <%= bdsensor.bdcliente_id %>
  </p>

</div>
