<div id="<%= dom_id bdusuario %>">
  <p>
    <strong>Nome:</strong>
    <%= bdusuario.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= bdusuario.email %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= bdusuario.CPF %>
  </p>

  <p>
    <strong>Celular:</strong>
    <%= bdusuario.celular %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= bdusuario.senha %>
  </p>

  <p>
    <strong>Sms:</strong>
    <%= bdusuario.SMS %>
  </p>

  <p>
    <strong>Ativo inativo:</strong>
    <%= bdusuario.ativo_inativo %>
  </p>

  <p>
    <strong>Bdcliente:</strong>
    <%= bdusuario.bdcliente_id %>
  </p>

</div>
