<%- model_class = Bdusuario -%>
<div class="page-header">
<br>
  <p><font size="5" color="4E6E58">Usuarios</font></p>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:CPF) %></th>
      <th><%= model_class.human_attribute_name(:celular) %></th>
      <th><%= model_class.human_attribute_name(:senha) %></th>
      <th><%= model_class.human_attribute_name(:SMS) %></th>
      <th><%= model_class.human_attribute_name(:ativo_inativo) %></th>
      <th><%= model_class.human_attribute_name(:Cliente) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @bdusuarios.each do |bdusuario| %>
      <tr>
        <td><%= link_to bdusuario.id, bdusuario_path(bdusuario) %></td>
        <td><%= bdusuario.nome %></td>
        <td><%= bdusuario.email %></td>
        <td><%= bdusuario.CPF %></td>
        <td><%= bdusuario.celular %></td>
        <td><%= bdusuario.senha %></td>
        <td><%= bdusuario.SMS %></td>
        <td><%= bdusuario.ativo_inativo %></td>
        <td><%= bdusuario.bdcliente.nome_empresa %></td>
        <td><%=l bdusuario.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      bdusuario_path(bdusuario), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_bdusuario_path(bdusuario), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      bdusuario_path(bdusuario),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_bdusuario_path,
            :class => 'btn btn-primary' %>
