<%- model_class = Bdtipo -%>
<div class="page-header">
<br>
<p><font size="5" color="4E6E58">Tipos de Sensores</font></p>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:tipo_sensor) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @bdtipos.each do |bdtipo| %>
      <tr>
        <td><%= link_to bdtipo.id, bdtipo_path(bdtipo) %></td>
        <td><%= bdtipo.tipo_sensor %></td>
        <td><%=l bdtipo.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      bdtipo_path(bdtipo), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_bdtipo_path(bdtipo), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      bdtipo_path(bdtipo),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_bdtipo_path,
            :class => 'btn btn-primary' %>
